@import 'variables';
.white {
  color: $white;
}

.white50 {
  color: $white50;
}

.black {
  color: $black;
}

.light-grey {
  color: $light-grey;
}
.green {
  color: $green;
}
.grey{
  color: $grey;
}
